<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <h2 class=title><%= title %></h2>
      <div class="authors">
        <div class="author">
          <h3>Jose Miguel del Valle Salas</h3>
          <div class="profile" style="background-image: url('profileMiguel.jpg')"></div>
        </div>
        <div class="author">
          <h3>Pedro Rodriguez Alia</h3>
          <div class="profile" style="background-image: url('profilePedro.jpg')"></div>
        </div>
      </div>
    </div>

  </body>
</html>
