<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class=title><%= title %></h1>
    <h3>Jose Miguel del Valle Salas</h3>
    <div class="profile" style="background-image: url('profileMiguel.jpg')">

    </div>
    <h2>Pedro Rodriguez Alia</h2>
    <div class="profile" style="background-image: url('profilePedro.jpg')">

    </div>
    <hr>
    <footer><a href="https://github.com/pepedders/quiz">Enlace a la página del proyecto en GitHub</a></footer>
  </body>
</html>
