<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <a href="/quizzes" class="body-link"><h2>Comenzar a jugar!</h2></a>
      <div class="formulario">
        <form class="form" action="/quizzes/search" method="get">
          <input type="text" name="search" placeholder="Búsqueda"></input>
          <button class="buscar" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </body>
</html>
