<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav></nav>
    <div class="container">
      <h1 class=title><%= title %></h1>
      <a href="/quizes/question" class="body-link"><h3>Comenzar a jugar!</h3></a>
    </div>
    <footer>
      <a class="footer-link" href="https://github.com/pepedders/quiz">Enlace a la página del proyecto en GitHub</a>
      &#47;
      <a class="footer-link" href="/author">Autores del proyecto</a>
    </footer>
  </body>
</html>
