<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1 class=title>Quiz</h1>
    </nav>

    <section>
        <%- body %>
    </section>

    <footer>
      <a class="footer-link" href="https://github.com/pepedders/quiz">Enlace a la página del proyecto en GitHub</a>
      &#47;
      <a class="footer-link" href="/author">Autores del proyecto</a>
      &#47;
      <a class="footer-link" href="/">Página principal de Quiz</a>
    </footer>
  </body>
</html>
