

html{position: relative; min-height: 100%}
body{padding:0; padding-bottom:50px; text-align: center; font-family: "Raleway", sans-serif; height: 100%;}
h1{font-size: 5em;}
h2{font-size: 2.5em;}


div.formulario{text-align: center; margin-top: 50px;}
input{border-top: none; border-left: none; border-right: none; text-align: center; font-size: 2em; margin-bottom: 3vh; font-family: "Raleway", sans-serif;}
button.responder{padding-left: 20px; padding-right: 20px; color: white; border-radius: 0px; font-size: 2em; font-family: "Raleway", sans-serif; background-color: #f0ad4e; border: 1px solid whitesmoke;}
button.responder:hover{border-bottom: 2px solid black; cursor: pointer;}
button.add{padding-left: 20px; padding-right: 20px; color: white; border-radius: 0px; font-size: 1.1em; font-family: "Raleway", sans-serif; background-color: #f0ad4e; border: 1px solid whitesmoke;}
button.add:hover{border-bottom: 2px solid black; cursor: pointer;}
button.buscar{padding-left: 20px; padding-right: 20px; color:white; border-radius: 0px; font-size: 2em; font-family: "Raleway", sans-serif; background-color: #5bc0de; border: 1px solid whitesmoke;}
button.buscar:hover{border-bottom: 2px solid black; cursor: pointer}
button.cancelar{padding-left: 20px; padding-right: 20px; color:white; border-radius: 0px; font-size: 2em; font-family: "Raleway", sans-serif; background-color: #d9534f; border: 1px solid whitesmoke;}
button.cancelar:hover{border-bottom: 2px solid black; cursor: pointer}
input{text-align: left;}
input:focus{outline-color: transparent; outline-style: none}

div.profile{width: 20vh; height: 20vh; border-radius: 100%; margin-left: auto; margin-right: auto; background-repeat: no-repeat; background-size: 20vh 20vh; background-position: center;}
div.container{height: auto;}
div.row{width: 100%; text-align: center; margin-top: 10px; }
/*div.message{padding: 10px 10px 0px 10px; position: absolute; width: 30%; top: 5%; left: 65%; text-align: center; border: 1px solid darkgray; background-color: #5bc0de; opacity: 0.8;}*/
div.message{position: relative; padding: 10px 10px 0px 10px; width: 40%; margin-left: auto; margin-right: auto; display: inline-block; text-align: center; border: 1px solid darkgray; opacity: 0.8;}
div.message.success{background-color: #5cb85c;}
div.message.info{background-color: #5bc0de;}
div.message.error{background-color: #d9534f;}
span.dismiss{position: absolute; top:5%; right: 2%; color: black;}
span.dismiss:hover{position: absolute; top:5%; right: 2%; color: darkgray;}
div.list-container{display: inline-block; font-size: 1.5em; text-align: center; margin-left: auto; margin-right: auto; height: 40vh; overflow-y: scroll;}
div ol li{text-align: left;}
div.authors{display: inline-block; width: 100%; padding-bottom: 10px; margin-bottom: 60px;}
div.author{display: inline-block; width: 30%; max-width: 50%;}
footer{color: darkgray; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; padding: 20px;}



.body-link{color: #5bc0de; text-decoration: none;}
.body-link:hover{color: darkgray; text-decoration: bold;}
.footer-link{color: darkgray; text-decoration: none;}
.footer-link:hover{color: #5bc0de; text-decoration: underline;}
.list-link{color: #5bc0de; text-decoration: none;}
.list-link:hover{color: darkgray; text-decoration: bold;}
.green{color: #5cb85c;}
.blue{color: #5bc0de;}
.red{color: #d9534f;}
.orange{color: #f0ad4e}
.gray{color: darkgray;}
