<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <h2 class=title><%= question %></h2>
      <form class="form" action="/quizes/answer" method="get">
        <input type="text" name="answer" placeholder="Responda aquí"></input>
        <button type="submit">Enviar respuesta</button>
      </form>
    </div>

  </body>
</html>
