<div class="row">
  <input id="preg" type="text" name="quiz[question]" value="<%= quiz.question %>" placeholder="Escriba la pregunta"></input>
</div>
<div class="row">
  <input id="resp" type="text" name="quiz[answer]" value="<%= quiz.answer %>" placeholder="Escriba la respuesta"></input>
</div>
  <button class="buscar" type="submit">Guardar</button>
  <a href="/quizzes"><button class="cancelar"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
