<!DOCTYPE html>
<html>
  <head>
    <title>Editar pregunta</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <h3>Editar pregunta</h3>
      <div class="formulario">
        <form class="form" action="/quizzes/<%= quiz.id %>?_method=PUT" method="post">
          <% include _form.ejs %>
        </form>
      </div>
    </div>
  </body>
</html>
