<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Lista de preguntas</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <div class="list-container">
        <ol>
          <% for (var i in searchArray){ %>
            <li>
              <a class="list-link" href="/quizzes/<%= searchArray[i].id %>"><%= searchArray[i].question %></a>
            </li>
          <% } %>
        </ol>
      </div>
    </div>
  </body>
</html> -->
