<!DOCTYPE html>
<html>
  <head>
    <title>Lista de preguntas</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <h3>Editar o crear usuario</h3>
      <div class="formulario">
        <form class="form" action="/users/<%= user.id %>" method="put">
          <% include _form.ejs %>
        </form>
        <a href="/users"><button class="cancelar"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
      </div>
    </div>
  </body>
</html>
